* {
  font-family: 'Quicksand', sans-serif;
}
html,
body {
  background-color: #1C1C1C;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}
#container-main {
  /* Main Container */
  position: relative;
  height: 75%;
  width: 75%;
  top: 12.5%;
  margin: auto;
}

/* Search */
.form {
  /* Search Bar Area */
  z-index: 9999;
  top: 5%;
  left: 12.5%;
}
input {
  /* Search Bar */
  background-color: #1C1C1C;
  border: none;
  color: #595959;
  font-size: 14pt;
  font-stretch: condensed;
  padding: 4px;
  transition: .3s ease-in-out;
  width: 100%;
}
input:focus {
  color: #BCBCBC;
}

  /* Main Image */
#billboard {
  /* Main Picture Area */
  background: black;
  height: 65%;
  width: 100%;
  margin: 0 auto 8px;
  position: relative;
}
#billboard img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 1s;
}
.bb-transparent {
  opacity: 0;
}

/* Navigation */
#nav {
  /* Main Navigation Container */
  display: flex;
  justify-content: space-between;
}
.list {
  /* Lists - General Overrides */
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu {
  /* Main Menu */
  width: 12%;
}
.menu-nest {
  /* Nested Menus */
}
.button {
  background: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  border: 3px solid #595959;
  color: #595959;
  font-size: 18pt;
  cursor: pointer;
  transition: border-color .5s, color .5s;
  display: block;
  margin-bottom: 8px;
  text-align: center;
  text-decoration: none;
}
.link {
  /* Nested Menu Buttons/Links */
  opacity: 0;
  transition: 1s;
}
#menu-1:hover .link {
  opacity: 1;
}
#menu-2:hover .link {
  opacity: 1;
}
#menu-3:hover .link {
  opacity: 1;
}
#menu-4:hover .link {
  opacity: 1;
}
#menu-5:hover .link {
  opacity: 1;
}
#menu-6:hover .link {
  opacity: 1;
}
#menu-7:hover .link {
  opacity: 1;
}
#menu-8:hover .link {
  opacity: 1;
}
#button-1:hover {
  border-color: red !important;
  color: red !important;
}
#button-2:hover {
  border-color: orange !important;
  color: orange !important;
}
#button-3:hover {
  border-color: yellow !important;
  color: yellow !important;
}
#button-4:hover {
  border-color: green !important;
  color: green !important;
}
#button-5:hover {
  border-color: blue !important;
  color: blue !important;
}
#button-6:hover {
  border-color: indigo !important;
  color: indigo !important;
}
#button-7:hover {
  border-color: violet !important;
  color: violet !important;
}
#button-8:hover {
  border-color: cyan !important;
  color: cyan !important;
}
#button-1:hover .menu-nest {
  transform: translateY(50px);
  transition: 1s;
}
