* {
  font-family: 'Quicksand', sans-serif;
}
html,
body {
  background-color: #1C1C1C;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}
#container-main {
  /* MAIN CONTAINER */
  position: relative;
  height: 75%;
  width: 75%;
  top: 12.5%;
  margin: auto;
}
.form {
  /* SEARCH BAR */
  z-index: 9999;
  top: 5%;
  left: 12.5%;
}
input {
  background-color: #1C1C1C;
  /*border: 1px solid #424242;*/
  border: none;
  color: #595959;
  font-size: 14pt;
  font-stretch: condensed;
  padding: 4px;
  transition: .3s ease-in-out;
  width: 100%;
}
input:focus {
  color: #BCBCBC;
}
#billboard {
  background-image: url("../img/background/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  margin: 0 auto 8px;
}
.workspace-selector {
  /* Menu */
  height: 5%;
  z-index: 99;
  margin: 0 auto 8px;
  display: flex;
  justify-content: space-between;
}
.workspace-button {
  /* Menu Buttons */
  height: 100%;
  width: 12%;
}
.button-styled-1 {
  background: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  border: 3px solid #595959;
  color: #595959;
  font-size: 18pt;
  cursor: pointer;
}
#button-1:hover {
  border-color: red !important;
  color: red !important;
}
#button-2:hover {
  border-color: orange !important;
  color: orange !important;
}
#button-3:hover {
  border-color: yellow !important;
  color: yellow !important;
}
#button-4:hover {
  border-color: green !important;
  color: green !important;
}
#button-5:hover {
  border-color: blue !important;
  color: blue !important;
}
#button-6:hover {
  border-color: indigo !important;
  color: indigo !important;
}
#button-7:hover {
  border-color: violet !important;
  color: violet !important;
}
#button-8:hover {
  border-color: cyan !important;
  color: cyan !important;
}
#border {

}
#workspace {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.box {
  visibility: hidden;
  width: 12%;
}
.box a {
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  text-align: center;
}
#message {

}
#details {
  /* WEATHER WIDGET */

}
#weather {

}
#description {

}
#temp_curr {

}
