* {
  font-family: 'Source Sans Pro', sans-serif;
}
html,
body {
  background-color: #1C1C1C;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}
#container-main {
  /* MAIN CONTAINER */
  height: 100%;
  width: 100%;
}
.form {
  /* SEARCH BAR */
  position: absolute;
  z-index: 9999;
  bottom: 20px;
  width: 50%;
  left: 12.5%;
}
input {
  background-color: #1C1C1C;
  border: 2px solid #424242;
  color: #BCBCBC;
  font-size: 14pt;
  font-stretch: condensed;
  padding: 8px;
  transition: .3s ease-in-out;
  width: 25%;
}
input:focus {
  width: 50%;
  transition: .3s ease-in-out;
}
#billboard {
  background-image: url("../img/background/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  height: 50%;
  margin: 5% auto 10px;
}
.workspace-selector {
  /* Menu */
  height: 5%;
  width: 75%;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.workspace-button {
  /* Menu Buttons */
  background: transparent;
  border: 3px solid #BCBCBC;
  color: #BCBCBC;
  font-size: 18pt;
  height: 100%;
  cursor: pointer;
  width: 12%
}
#button-1:hover {
  border-color: red;
  color: red;
}
#button-2:hover {
  border-color: orange;
  color: orange;
}
#button-3:hover {
  border-color: yellow;
  color: yellow;
}
#button-4:hover {
  border-color: green;
  color: green;
}
#button-5:hover {
  border-color: blue;
  color: blue;
}
#button-6:hover {
  border-color: indigo;
  color: indigo;
}
#button-7:hover {
  border-color: violet;
  color: violet;
}
#button-8:hover {
  border-color: cyan;
  color: cyan;
}
#border {

}
#workspace {
  height: 5%;
  width: 25%;
  margin: 5% auto 0;
}
.box {
  visibility: hidden;
  width: 25%;
  height: 5%;
  position: absolute;
  display: flex;

  align-items: center;
  text-align: center;
}
.box a {
  color: #fff;
  text-decoration: none;
  flex-grow: 1;
}
.img-sq {
  height: 42px;
  width: 42px;
}
.img-r {
  height: 42px;
  width: 58px;
}
#message {

}
#details {
  /* WEATHER WIDGET */

}
#weather {

}
#description {

}
#temp_curr {

}
